#R2-cloudlflare-credentials
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY_ID=
R2_BUCKET_NAME=

#database-url
DATABASE_URL=

#Gemini-api-key
GEMINI_API_KEY=

#auth credentials
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
AUTH_SECRET=...
NEXTAUTH_URL=
